/*---------------------------------------------------------------*/
/* Global Style
/*---------------------------------------------------------------*/

html,body {width:100%;}

body {
	margin: 0px;
	font-family: HelvNeuRoman, Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	color: #555;
}

h1 {
	font-family: HelvNeuMed, Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	font-size: 34px;
	letter-spacing: -0.01em;
	color: #000;
}

h2 {
	font-size: 20px;
	font-family: HelvNeuBold, Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	background-color: #eee;
	color: #222;
	padding: 15px;
}

h3 {
	font-size: 16px;
	font-family: HelvNeuRoman, Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	color: #222;
}

p {
	font-size: 13px;
	line-height: 18px;
}

a {
	color: #cd239d;
	text-decoration: none;
}
a:hover {
	color: #555;
}

.content {
    max-width: 960px;
    position: relative;
    margin: 0 auto;
}

.code
{
	font-family: monospace;
	background-color: #eee;
}

i {
	color: #cd239d;
}

.link
{
	color: #555;
}

.link:hover
{
	color: #cd239d;
}

img { 
    border: none;
	max-width: 100%; 
    height: auto; 
}

table {
    margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #dddddd;
}

th {
	background: #eee;
	color:#222;
    padding: 10px 10px;
	text-align: left;
}

table tbody tr:nth-child(even) {
    background: #f9f9f9;
}

table tbody td { 
	color: #555; 
	padding: 10px 10px; 
}

hr { 
	border: none; 
	height: 1px; 
	background: #eaeaea; 
	margin: 40px 0px 0px 0px; 
	display: block;
}

/*---------------------------------------------------------------*/
/* Header
/*---------------------------------------------------------------*/

#GlobalHeaderContainer {
	background: #4f1455; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmMTQ1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMDBiMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #4f1455 0%, #300b33 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f1455), color-stop(100%,#300b33)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4f1455 0%,#300b33 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4f1455 0%,#300b33 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4f1455 0%,#300b33 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4f1455 0%,#300b33 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f1455', endColorstr='#300b33',GradientType=0 ); /* IE6-8 */
}

#GlobalHeader {
	max-width: 960px;
	min-height: 83px;
	margin: 0px auto;
	display: block;
	overflow: hidden;
}

#GlobalHeader .logo {
	float: left;
	margin-top: 20px;
}

#GlobalHeader .sitetitle {
	font-family: HelvNeuMed, Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	font-size: 34px;
	letter-spacing: -0.01em;
	color: white;
	float: right;
	margin-top: 20px;
}

/*---------------------------------------------------------------*/
/* Tab Navigation
/*---------------------------------------------------------------*/

#NavContainer {
	width: 100%;
	background-color: #650f4d;
	border-top: 1px solid #300b33;
	min-height: 41px;
}

nav {
	max-width: 960px;
	margin: 0px auto;
	border-left: 1px solid #510c3e;
}

nav .navlink {
	float: left;
	font-family: HelvNeuRoman, Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	font-size: 13px;
	text-decoration: none;
	border-left: 1px solid #75275f;
	border-right: 1px solid #510c3e;
	position: relative;
	background-color: #650f4d;
}

.navlink:hover {
	background-color: #fff;
	color: #222;
	box-shadow: 0 -5px 0 #cd2da0;
}

.navlink a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 12px 15px 3px 15px !important;
	height: 41px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.navlink:hover a {
	color: #222;
}

.navlink a.current {
	background-color: #300b33;
	color: #fff;
	box-shadow: 0 -5px 0 #cd2da0;
}

.navlink:hover a.current {
	background-color: #fff;
	color: #222;
	box-shadow: 0 -5px 0 #cd2da0;
}

/* Sub-navigation Styles */

#SubNavContainer {
	width: 100%;
	background-color: #650f4d;
	border-top: 5px solid #300b33;
	min-height: 41px;
}

nav .subnavlink {
	float: left;
	font-family: HelvNeuRoman, Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	font-size: 13px;
	text-decoration: none;
	border-left: 1px solid #75275f;
	border-right: 1px solid #510c3e;
	position: relative;
}

.subnavlink:hover {
	background-color: #fff;
	color: #222;
	/*box-shadow: 0 -5px 0 #cd2da0;*/
}

.subnavlink a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 12px 15px 3px 15px !important;
	height: 41px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.subnavlink:hover a {
	color: #222;
}

.subnavlink a.current {
	background-color: #300b33;
	color: #fff;
	/*box-shadow: 0 -5px 0 #cd2da0;*/
}

.subnavlink:hover a.current {
	background-color: #fff;
	color: #222;
	/*box-shadow: 0 -5px 0 #cd2da0;*/
}

/*---------------------------------------------------------------*/
/* Footer
/*---------------------------------------------------------------*/

#FooterMainContainer {
	width: 100%;
	background-color: #F9F9F9;
	border-bottom: 10px solid #999;
	border-top: 1px solid #e4e4e4
}

#FooterContainer {
	max-width: 960px;
	height: 100px;
	margin: 0px auto;
	padding-bottom: 20px;
}

#FooterContainer .footerlogo {
	float: right;
	margin-top: 20px;
}

#FooterContainer .copyright {
	font-family: HelvNeuMed, Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	letter-spacing: -0.01em;
	color: #999;
	float: right;
	text-align: right;
	margin-top: 60px;
	margin-right: -136px;
}

/*---------------------------------------------------------------*/
/* General styles for Examples page
/*---------------------------------------------------------------*/

/* Style for the thumbnail of each example */
img.examplesmall
{
    float:left;
	width: 100px;
	height: 75px;
    margin-right: 10px;
	margin-left: 10px;
}
	
/* Style for the title section of each example */
.title {
	/*background-color: #eee;*/ 
	max-width: 960px;
	min-height: 85px;
	margin-bottom: 10px;
}

/* Style to use for the full description section of each example */
.FullDescription {
	display: none;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	border-bottom: 10px solid #fff;
}

/* Styling the checkbox approach used to simulate a click event */
input[type=checkbox] {
    position: absolute;
	margin-left: -10px;
	display: none;
}

/* Style for the label of each checkbox */ 
label {
    display: block;
	cursor: pointer;
}

/* Style for displaying the full description section of each example */ 
input[type=checkbox]:checked ~ .FullDescription {
    display: block;
}

/*---------------------------------------------------------------*/
/* Accordion
/*---------------------------------------------------------------*/

/* Adjusting the position of the full accordion */
ul.accordion { 
	margin: 0px;
	padding: 0px;
}

/* Add bottom border to separate each list item populated within the accordion */ 
ul.accordion > li { 
	list-style: none; 
	margin: 0; 
	padding: 0;
	border-bottom: 3px solid #eee;
}

/* The last child in the list does not have the bottom border */ 
ul.accordion > li:last-child { 
	border-bottom: none;
}

/* Sets the margin of h3 to be zero when h3 is used in a list item within the accordion. This aligns the top of the example title with its thumbnail */
ul.accordion > li > div.title h3 { 
	margin: 0;
}

/* Adjusting the top padding dimension so that example list appears evenly spaced out */
ul.accordion > li > div.title { 
	padding-top: 17px;
}

/* Toggle the purple colour on hovering over the title of each example */
ul.accordion > li > div.title h3:hover { 
	color: #cd239d; 
}

/*---------------------------------------------------------------*/
/* General styles for Utilities page
/*---------------------------------------------------------------*/

/* Float the utility image to the left */
.utility img{
	float: left; 
	padding-right: 20px;
}

/* Adjusting the position of the list of utilities*/
ul.utility { 
	margin: 0px;
	padding: 0px;
}

/* Add bottom border to separate each list item populated within the list */ 
ul.utility > li { 
	list-style: none; 
	margin: 0; 
	padding: 0;
	border-bottom: 3px solid #eee;
	min-height: 200px;
}

/* The last child in the list does not have the bottom border */ 
ul.utility > li:last-child { 
	border-bottom: none;
}

/*---------------------------------------------------------------*/
/* Media Queries
/*---------------------------------------------------------------*/

@media screen and (max-width:960px) {

#GlobalHeader {
	min-height: 78px;
}

#NavContainer {
	overflow: hidden;
}

nav {
	border-top: 5px solid #300b33;
}

#SubNavContainer {
	overflow: hidden;
	border-top: 0px;
}